{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>En que etapa vas?</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, eos incidunt. Rem voluptatem unde aspernatur exercitationem sed laudantium vel at quo natus ut, voluptate minus cumque explicabo impedit illo doloremque?
        </p>

    </div>

    <div class="col-4">
        <img src="assets/img/en-cual-vas.jpg" class="img-thumbnail">

    </div>

</div>

{{> footer }}